@use './veriables' as *;
@use './function' as *;

// Адаптивный размер (font-size)
@mixin font-clamp($min, $max){
    font-size: clamp(rem($min), 5vw + 0.5rem, rem($max));
}

// Адаптивный (block, margin, padding,img)
@mixin size-clamp($property, $min, $max, $speed: 5){
    #{$property}:clamp(rem($min), #{$speed}vw + 1rem, rem($max))
}


@mixin font-title{
    font-family: 'Montserrat';
    font-size: rem(76);
    color: $font-base-color;
    font-weight: normal;
    font-style:normal;
    line-height: 0.7;

}

@mixin font-subtitle($size, $weight) {
    font-family: 'Montserrat';
    font-size:$size ;
    font-weight: $weight;
    color: $color-dark-gray

}


